html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: 0;
  padding: 0;
  background-color: transparent;
}

/*----------- container -----------*/
.container {
  --container-width: 1200px;
  --container-padding: 20px;
  max-width: calc(var(--container-width) + var(--container-padding) * 2);
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

@media (max-width: 680px) {
  .container {
    --container-padding: 10px;
  }
}
/*----------- end container -----------*/

body {
  position: relative;
  color: #151618;
  /* font-family: 'Cormorant', serif; */
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: normal;
}

.title {
  margin-bottom: 60px;
  font-family: 'Cormorant', serif;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
}

@media (max-width: 360px) {
  .title {
    margin-bottom: 10px;
    font-size: 24px;
  }
}

.menu__close {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color .3s ease;
}

.menu__close.menu__open {
  display: block;
}

/*----------- header -----------*/
.header {

}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 140px;
  padding: 30px 0 28px;
}

@media (max-width: 1000px) {
  .header__inner {
    min-height: auto;
  }
}

@media (max-width: 768px) {
  .header__inner {
    padding: 0 64px;
  }
}

@media (max-width: 768px) {
  .header__inner {
    padding: 0 0;
  }
}

@media (max-width: 360px) {
  .header__inner {
    padding: 10px 0;
  }
}

.logo {
  margin-bottom: 37px;
}

@media (max-width: 1000px) {
  .logo {
    margin-bottom: 0;
  }
}

@media (max-width: 860px) {
  .logo{
    margin: 0 154px;
  }
}

@media (max-width: 680px) {
  .logo{
    margin: 0 154px 0 auto;
  }
}

@media (max-width: 480px) {
  .logo{
    margin: 0 80px 0 auto;
  }
}

@media (max-width: 360px) {
  .logo{
    margin-right: 50px;
  }
}

.logo__img {

}

@media (max-width: 480px) {
  .logo__img {
    width: 39px;
  }
}

.header__menu {
  margin-left: 85px;
}

@media (max-width: 1000px) {
  .header__menu {
    margin-right: auto;
    margin-left: 60px;
  }
}

@media (max-width: 860px) {
  .header__menu{
    order: -1;
    margin-right: 0;
    margin-left: 0;
  }
}

.header__menu-btn {
  position: relative;
  z-index: 2;
  display: none;
  width: 40px;
  height: 20px;
}

.header__menu-btn-line {
  width: 100%;
  height: 2px;
  background-color: #000;
}

@media (max-width: 860px) {
  .header__menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.header__list {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  gap: 0 65px;
  margin-left: 85px;
  font-weight: 400;
  font-size: 18px;
}

@media (max-width: 860px) {
  .header__list {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: block;
    width: 480px;
    margin: 0 auto;
    padding-top: 60px;
    text-align: center;
    background-color: #fff;
    transition: transform .7s ease;
    transform: translateY(-100%);
  }
}

@media (max-width: 480px) {
  .header__list {
    width: 360px;
  }
}

.header__list.header__list-open {
  transform: translateY(0%);
}

.header__menu__close {
  display: none;
}

@media (max-width: 860px) {
  .header__menu__close {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
  }
}

.header__menu__close-btn {

}

.header__menu__close-btn-img {

}

.header__item {

}

@media (max-width: 860px) {
  .header__item {
    margin-bottom: 30px;
    font-family: 'Cormorant', serif;
    font-size: 24px;
  }
}

.header__link {

}

/*----------- mobile header -----------*/
.header__mobile-nav {
  display: none;
}

@media (max-width: 860px) {
  .header__mobile-nav {
    display: block;
  }
}

.header__mobile-menu {

}

@media (max-width: 860px) {
  .header__mobile-menu {
    margin: 60px 30px;
    border-top: 2px solid #F7F2EA;
    padding-top: 60px;
  }
}

.header__mobile-menu__item {
  
}

@media (max-width: 860px) {
  .header__mobile-menu__item{
    margin-bottom: 35px;
  }
}

.header__mobile-menu__link {
  
}

.header__mobile-actions {
  
}

@media (max-width: 860px) {
  .header__mobile-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 80px;
    background-color: #F7F2EA;
  }
}

.header__mobile-actions__item {
  
}

.header__mobile-actions__link {
  
}

.header__mobile-actions__img {
  
}

/*----------- end mobile header -----------*/

/*----------- user-actions -----------*/
.user-actions {
  display: flex;
  align-items: center;
  gap: 0 20px;
}

.user-actions__item {

}

.user-actions__item-search {
  margin-left: 80px;
}

@media (max-width: 1000px) {
  .user-actions__item-search {
    margin-left: 30px;
  }
}

@media (max-width: 360px) {
  .user-actions__item-search {
    margin-left: 0;
  }
}

.user-actions__link {

}

.user-actions__img {

}
/*----------- end user-actions -----------*/


/*----------- main -----------*/

.main {
  flex-grow: 1;
}

/*----------- top -----------*/
.top {
  background: url('../images/top-bg.jpg') no-repeat bottom left / cover;
}

.top__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 500px;
  color: #FFF;
  font-family: Cormorant, serif;
  font-weight: 400;
}

@media (max-width: 360px) {
  .top__inner {
    min-height: 367px;
  }
}

.top__title {
  max-width: 790px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 60px;
  line-height: 1;
}

@media (max-width: 680px) {
  .top__title {
    font-size: 40px;
  }
}

@media (max-width: 360px) {
  .top__title {
    margin-bottom: 10px;
    font-size: 24px;
  }
}

.top__text {
  max-width: 560px;
  margin-bottom: 48px;
  font-size: 24px;
}

@media (max-width: 360px) {
  .top__text {
    margin-bottom: 30px;
    font-size: 13px;
  }
}
/*----------- end top -----------*/

/*----------- blockquote -----------*/
.blockquote {

}

.blockquote__text {
  max-width: 704px;
  margin: 150px auto;
  font-family: Cormorant, serif;
  font-weight: 300;
  font-size: 40px;
  font-style: italic;
  text-align: center;
}

@media (max-width: 1000px) {
  .blockquote__text {
    margin: 120px auto 135px;
  }
}

@media (max-width: 860px) {
  .blockquote__text {
    max-width: 640px;
  }
}

@media (max-width: 680px) {
  .blockquote__text {
    max-width: 376px;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 16px;
  }
}

@media (max-width: 360px) {
  .blockquote__text {
    max-width: 340px;
    margin-top: 70px;
    margin-bottom: 80px;
  }
}

/*----------- end blockquote -----------*/

/*----------- assortment -----------*/
.assortment {
  margin-bottom: 150px;
}

@media (max-width: 1000px) {
  .assortment {
    margin-bottom: 120px;
  }
}

@media (max-width: 480px) {
  .assortment {
    margin-bottom: 60px;
  }
}

@media (max-width: 360px) {
  .assortment {
    margin-bottom: 80px;
  }
}

.assortment__list {
  display: flex;
  gap: 0 40px;
  text-align: center;
}

@media (max-width: 1000px) {
  .assortment__list {
    gap: 0;
  }
}

@media (max-width: 768px) {
  .assortment__list {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 360px) {
  .assortment__list {
    max-width: 170px;
    margin: 0 auto;
  }
}

.assortment__item {

}

.assortment__img {
  width: 100%;
  max-width: 208px;
  max-height: 208px;
}

.assortment__name {
  padding-top: 10px;
  font-family: 'Cormorant', serif;
  font-weight: 400;
  font-size: 24px; 
}
/*----------- end assortment -----------*/

/*----------- reviews -----------*/
.reviews {
  padding: 60px 0;
  background-color: #F7F2EA;
}

@media (max-width: 480px) {
  .reviews {
    padding: 50px 0;
  }
}

.revies__title {

}

.reviews__list {
  display: flex;
  justify-content: center;
  gap: 0 26px;
}

@media (max-width: 768px){
  .reviews__list{
    flex-wrap: wrap;
    gap: 30px 76px; 
  }
}

@media (max-width: 480px){
  .reviews__list{
    gap: 30px 20px; 
  }
}

.reviews__item {
  flex-basis: 280px;
}

/* .reviews__item.reviews__item-hide {
  display: none;
} #TODO: for js */ 

@media (max-width: 1000px){
  .reviews__item:last-child {
    display: none;
  }
}

@media (max-width: 768px){
  .reviews__item:last-child {
    display: block;
  }
}

@media (max-width: 480px){
  .reviews__item {
    flex-basis: 220px;
  }
}

.reviews__blockqueote {

}

.reviews__text {
  margin-bottom: 10px;
  font-size: 16px;
  font-style: italic;
}

.reviews__name {
  font-weight: 600;
  font-style: normal;
}
/*----------- end reviews -----------*/

/*----------- main-blog  -----------*/
.main-blog {
  padding: 150px 0;
}

@media (max-height: 1000px) {
  .main-blog {
    padding: 120px 0;
  }
}

@media (max-height: 480px) {
  .main-blog {
    padding: 60px 0;
  }
}

@media (max-height: 360px) {
  .main-blog {
    padding: 50px 0;
  }
}

.main-blog__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 58px;
  margin-bottom: 72px;
}

@media (max-width: 1000px) {
  .main-blog__list {
    gap: 67px 20px;
  }
}

@media (max-width: 768px) {
  .main-blog__list {
    gap: 30px 20px;
  }
}

@media (max-width: 360px) {
  .main-blog__list {
    justify-content: center;
  }
}

.main-blog__item {
  display: flex;
  flex-basis: 542px;
  gap: 0 20px;
}

@media (max-width: 1200px) {
  .main-blog__item {
    flex-basis: 450px;
  }
}

@media (max-width: 1000px) {
  .main-blog__item {
    flex-basis: 460px;
  }
}

@media (max-width: 768px) {
  .main-blog__item {
    flex-basis: 542px;
  }
  .main-blog__item:nth-child(even) {
    margin-left: 98px;
  }
}

@media (max-width: 680px) {
  .main-blog__item:nth-child(even) {
    margin-left: 0;
  }
}

@media (max-width: 360px) {
  .main-blog__item {
    display: block;
    max-width: 270px;
  }
  .main-blog__item:nth-child(even) {
    display: none;
  } 
}

.main-blog__item-img {

}

@media (max-width: 1000px) {
  .main-blog__item-img {
    max-width: 230px;
  }
}

@media (max-width: 768px) {
  .main-blog__item-img {
    max-width: 270px;
  }
}

@media (max-width: 480px) {
  .main-blog__item-img {
    max-width: 230px;
  }
}


@media (max-width: 360px) {
  .main-blog__item-img {
    max-width: 100%;
  }
}
.main-blog__item-content {
  display: flex;
  flex-direction: column;
}

.main-blog__item-title {
  min-height: 86px;
  margin-bottom: 10px;
  font-family: 'Cormorant', serif;
  font-weight: 400;
  font-size: 24px;
}

@media (max-width: 360px) {
  .main-blog__item-title {
    min-height: auto;
  }
}

.main-blog__item-author {
  font-size: 13px;
}

.main-blog__item-link {
  position: relative;
  margin-top: auto;
  font-size: 13px;
}

.main-blog__item-link::after {
  content:'';
  position: absolute;
  bottom: 3px;
  width: 5px;
  height: 10px;
  margin-left: 8px;
  background-image: url('../images/arrow.svg');
}

.main-blog__link {
  display: flex;
  justify-content: center;
  width: 154px;
  margin: auto;
  border: 1px solid #151618;
  padding: 12px 41px;
}

@media (max-width: 1000px) {
  .main-blog__link {
    margin-top: 60px;
  }
}
/*----------- end main-blog  -----------*/

/*----------- mailing-list  -----------*/
.mailing-list {
  padding: 100px 0;
  background-color: #F7F2EA;
  background-image: url('../images/mailing.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}

@media (max-width: 1000px) {
  .mailing-list {
    padding: 60px 0;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .mailing-list {
    padding: 50px 0;
    text-align: center;
  }
}

.mailing-list__title {
  margin-bottom: 50px;
  text-align: left;
}

@media (max-width: 1000px) {
  .mailing-list__title {
    text-align: center;
  }
}

.mailing-list__inner {
  display: flex;
  gap: 60px 40px;
}

@media (max-width: 1000px) {
  .mailing-list__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 1000px) {
  .mailing-list__inner {
    gap: 30px 0;
  }
}

.mailing-list__text {
  flex-basis: 580px;
  line-height: 1.5;
}

@media (max-width: 1000px) {
  .mailing-list__text {
    flex-basis: 780px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .mailing-list__text{
    flex-basis: 640px;
  }
}

@media (max-width: 480px) {
  .mailing-list__text{
    flex-basis: 100%;
    font-size: 13px;
  }
}

.mailing-list__form {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 580px;
}

.mailing-list__form-email {
  width: 436px;
  margin-right: 25px;
  border: none;
  border-bottom: 1px solid #B8B58B;
  padding: 3px 15px;
  color: #151618;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  font-style: normal;
  line-height: 1.5;
  background-color: transparent;
}

@media (max-width: 480px) {
  .mailing-list__form-email {
    width: 324px;
    margin-right: 20px;
  }
}

@media (max-width: 480px) {
  .mailing-list__form-email {
    width: 205px;
  }
}

.mailing-list__form-email::placeholder {
  color: #B8B58B;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  font-style: normal;
  line-height: 1.5;
}

.mailing-list__form-btn {
  border: 1px solid #151618;
  padding: 12px 41px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  background-color: #fff;
  cursor: pointer;
}

@media (max-width: 600px) {
  .mailing-list__form-btn {
    padding: 12px 34px;
  }
}

@media (max-width: 360px) {
  .mailing-list__form-btn {
    padding: 12px 19px;
  }
}

.mailing-list__label {
  position: relative;
  margin-top: 16px;
}

/*----------- checkbox -----------*/
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  /* clip-path: inset(0 0 0 0); */
  padding-left: 20px;
  padding-left: 20px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.checkbox-style {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  margin-top: 5px;
  border: 1px solid #151618;
}

.checkbox-text {
  padding-left: 20px;
  font-size: 13px;
  text-align: left;
}

.checkbox:checked + .checkbox-style::before {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 6px;
  height: 6px;
  background-color: #151618;
}
/*----------- end checkbox  -----------*/

/*----------- end mailing-list  -----------*/

/*----------- prioritise  -----------*/
.prioritise {
  padding: 150px 0;
}

@media (max-width: 1000px) {
  .prioritise {
    padding: 120px 0;
  }
}

@media (max-width: 480px) {
  .prioritise {
    padding: 60px 0;
  }
}

@media (max-width: 360px) {
  .prioritise {
    padding: 50px 0;
  }
}

.prioritise__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 49px;
  text-align: center;
}

@media (max-width: 1000px) {
  .prioritise__list {
    gap: 30px 210px;
  }
}

@media (max-width: 768px) {
  .prioritise__list {
    gap: 30px 133px;
  }
}

@media (max-width: 360px) {
  .prioritise__list {
    gap: 40px 100px;
  }
}

.prioritise__title {
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 30px;
}

@media (max-width: 360px) {
  .prioritise__title {
    font-size: 20px;
  }
}

.prioritise__item {

}

.prioritise__text {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 20px;
}

@media (max-width: 360px) {
  .prioritise__text {
    font-weight: 400;
    font-size: 10px;
  }
}

.prioritise__img {

}
/*----------- end prioritise  -----------*/


/*----------- end main -----------*/

/*----------- footer -----------*/
.footer {
  padding: 100px 0 20px;
  background-color: #F7F2EA;
}

@media (max-width: 566px) {
  .footer {
    padding: 50px 0 10px;
  }
}

.footer__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 40px;
  margin-bottom: 100px;
}

@media (max-width: 1000px) {
  .footer__inner {
    margin-bottom: 55px;
  }
}

@media (max-width: 900px) {
  .footer__inner {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .footer__inner {
    grid-template-rows: 1fr 1fr; 
  }
}

@media (max-width: 566px) {
  .footer__inner {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer__products {

}

@media (max-width: 900px) {
  .footer__products {
    grid-row: span 3;
  }
}

@media (max-width: 566px) {
  .footer__products {
    padding-right: 20px;
    margin-right: auto; 
  }
}

@media (max-width: 440px) {
  .footer__products {
    padding-right: 5px;
    margin-right: auto; 
  }
}

.footer__products-title,
.footer__company-title,
.footer__contacts-title {
  margin-bottom: 50px;
  font-family: 'Cormorant', serif;
  font-weight: 400;
  font-size: 24px;
}

@media (max-width: 566px) {
  .footer__contacts-title {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .footer__products-title,
  .footer__company-title {
    margin-bottom: 30px;
  }
}

.footer__products-item,
.footer__company-item {
  margin-bottom: 20px;
}

.footer__company {

}

@media (max-width: 900px) {
  .footer__company {
    grid-row: span 3;
  }
}

@media (max-width: 566px) {
  .footer__company {
    padding-right: 20px;
    margin-right: 55px;
  }
}

@media (max-width: 440px) {
  .footer__company {
    padding-right: 15px;
    margin-right: 0;
  }
}

.footer__blockquote {

}

@media (max-width: 1000px) {
  .footer__blockquote {
    width: 270px;
  }
}

@media (max-width: 566px) {
  .footer__blockquote {
    width: 100%;
  }
}

.footer__blockquote-text {
  margin-top: 80px;
  margin-bottom: 20px;
  font-style: italic;
}

@media (max-width: 1000px) {
  .footer__blockquote-text {
    margin-top: 0;
  }
}

@media (max-width: 566px) {
  .footer__blockquote-text {
    margin-bottom: 10px;
    margin-top: 50px;
  }
}


.footer__blockquote-author {
  font-size: 12px;
  font-style: normal;
}

.footer__blockquote-author-post {
  display: block;
}

@media (max-width: 566px) {
  .footer__blockquote-author-post {
    display: inline;
  }
}

.footer__contacts {
  margin-top: 20px;
}

@media (max-width: 1000px) {
  .footer__contacts {
    width: 270px;
  }
}

@media (max-width: 900px) {
  .footer__contacts {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
}

@media (max-width: 566px) {
  .footer__contacts {
    margin-top: 50px;
    width: 100%;

  }
}

.footer__contacts-text {
  font-size: 13px;
  margin-bottom: 20px;
}

@media (max-width: 566px) {
  .footer__contacts-text {
    text-align: center;
  }
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 566px) {
  .footer__nav {
    flex-wrap: nowrap;
  }
}

@media (max-width: 440px) {
  .footer__nav {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.footer__nav-logo {
  margin-right: 40px;
}

@media (max-width: 1000px) {
  .footer__nav-logo {
    margin-right: 35px;
  }
}

.footer__logo {

}

.footer__logo-img {

}

.footer__nav-contacts {

}

@media (max-width: 566px) {
  .footer__nav-contacts {
    margin-top: 16px;
  }  
}

.footer__nav-phone,
.footer__nav-email {
  font-size: 13px;
  position: relative;
  padding-left: 32px;
  display: block;
  margin-bottom: 20px;
}

.footer__nav-phone::before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 21px;
  height: 21px;
  background-image: url('../images/phone.svg');
}

.footer__nav-email::before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 22px;
  height: 16px;
  background-image: url('../images/message.svg');
}

.footer__social {
  margin-top: 40px;
  margin-left: 97px;
}

@media (max-width: 566px) {
  .footer__social {
    margin-left: 30px;
  }
}

@media (max-width: 440px) {
  .footer__social {
    margin: 40px auto 0;
    padding: 0 10px;
  }
}

.footer__social-list {
  display: flex;
  align-items: center;
  gap: 0 20px;
} 

.footer__social-item {

}

.footer__social-link {
  display: grid;
}

.footer__bottom {
  display: flex;
}

.footer__copy {
  margin-right: 192px;
  font-size: 16px;
}

@media (max-width: 1000px) {
  .footer__copy  {
    margin-right: 85px;
  }
}

@media (max-width: 768px) {
  .footer__copy {
    margin-right: 120px;  
  }
}

@media (max-width: 566px) {
  .footer__copy {
    margin-right: auto;
  }
}

/*----------- end footer -----------*/

/*----------- partners -----------*/
.partners-logo {
  display: flex;
  gap: 20px;
}

.partners-logo__item {
  display: grid;
  align-items: center;
}
/*----------- end partners -----------*/